<header>
    <!-- <mat-toolbar> -->
    <img src="#" alt="icon" class="steamIcon">
    <a class="gamesLink" routerLink="/games" routerLinkActive="active">Games</a>
    <a class="libraryLink" routerLink="/library" routerLinkActive="active">Library</a>
    <a class="friendsLink" routerLink="/friends" routerLinkActive="active">Friends</a>
    <a class="profileLink" routerLink="/profile" routerLinkActive="active">Profile</a>
    <button class="logoutBtn" (click)="logOut()">Logout</button>
    <!-- <a mat-icon-link class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </a>
        <span>My App</span>s
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button> -->

    <!-- </mat-toolbar> -->

    <!-- </nav> -->
</header>